*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 30px;
  width: 1140px;
  margin: auto;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 100%;
  height: 100%;
}

.content__list {
  position: relative;
  height: 295px;
  overflow: auto;
  scrollbar-width: none;
}

.result__video-container {
  position: relative;
}

.result__video {
  display: block;
  width: 711px;
  height: 386px;
  object-fit: fill;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content__video-card-description-container {
  padding-left: 2px;
}

.content__list-item:not(:last-of-type) {
  padding-bottom: 23px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  margin: 3px;
  padding: 2px 0;
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  padding-top: 1px;
  padding-bottom: 2px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 16.2px;
}

fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  align-items: start;
  gap: 5px;
}

.search-form__textfield {
  min-width: 226px;
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  background-color: transparent;
  appearance: none;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  cursor: pointer;
}

.button {
  margin: 1px;
  border: 1px solid #fff;
  color: inherit;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  padding: 5px 68px;
}

.more-button {
  display: inline-block;
  padding: 5px 136px;
}

input:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #fff;
}

.search-form__label:hover {
  text-decoration: underline;
}

input[type="checkbox"]:checked + span {
  background-image: url(/images/square.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}